<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Contacto</title>

</head>

<body style="background-color:#d6c3146e;">
</body>

    <h1>Contacto</h1>
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/5244fsP/20211108-182455hj.jpg" alt="20211108_182455hj" border="0" width="100"></a>
    <body>
        <div>
            
                <ul>
                    <li>Nombre:Juan José</li> 
                    <li>Apellido:Sandez</li> 
                    <li>Email:sandezjuan@gmail.com</li> 
                </ul>
                   
        </div>
        <h4>Red Social:</h4>
        <a href="https://www.facebook.com/juansandez">Facebook</a>
        <h4>Trabajos</h4>
        <a href="https://github.com/Cocardo1w">Github</a> 
        
    </body>

</html>

