{% extends 'appmusica/base.html' %}

{% block main_content %}

<div class="container mt-5">

    <h1 style="text-align: center">Estudiantes</h1>

    <br>
    <h3>¡Apurate! Vacantes limitadas.</h3>    
    
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/KzTjBgV/estudiantes.jpg" alt="estudiantes" border="0"></a>
    <h6>Nuestra misión es que te diviertas aprendiendo el maravilloso arte de la MÚSICA.</h6>


    <table class="table">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            {% for estudiante in estudiantes %}
                <tr>
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.apellido}}</td>
                <td>{{estudiante.email}}</td>
                </tr>
            {% endfor %}
        </tbody>


    </table>
</div>
{% endblock main_content %}