{%extends 'appmusica/base.html' %}

{%block main_content %}

<h1>Vista de Profesores</h1>

<ul>
    <li>1. David Gilmour (Profesor de Guitarra) es un músico, compositor y multiinstrumentista británico. Es conocido por haber sido vocalista, guitarrista y uno de los compositores de la banda de rock progresivo Pink Floyd.</li>
    <li>2. John Bonham (Profesor de Bateria) fue el baterista del grupo de rock Led Zeppelin. Es considerado uno de los mejores baterías de rock de toda la historia, ya que cambió el enfoque que se tenía del instrumento. </li>
    <li>3 Jaco Pastorius (Profesor de Bajo) fue un bajista, compositor, arreglista y productor estadounidense de funk, jazz fusión y jazz. Miembro de Weather Report desde 1976 hasta 1981. </li>
</ul>



{% endblock main_content %}