<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio' %}"">Inicio</a>
        <a class="navbar-brand" href="{% url 'Estudiantes' %}">Estudiantes</a>
        <a class="navbar-brand" href="{% url 'Profesores' %}">Profesores</a> 
        <a class="navbar-brand" href="{% url 'Cursos' %}">Cursos</a> 
        <a class="navbar-brand" href="{% url 'About' %}">Acerca de mi</a>
        <a class="navbar-brand btn btn-warning" href="{% url 'login' %}">Ingresar</a>
        <a class="navbar-brand btn btn-warning" href="{% url 'register' %}">Registrarse</a>           
    </div>
</nav>