<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Inicio' %}"">Inicio</a>
        <a class="navbar-brand" href="{% url 'Entradas' %}">Blog!</a>      
        <a class="navbar-brand" href="{% url 'Estudiantes' %}">Estudiantes</a>
        <a class="navbar-brand" href="{% url 'Profesores' %}">Profesores</a> 
        <a class="navbar-brand" href="{% url 'Cursos' %}">Cursos</a> 
        <a class="navbar-brand" href="{% url 'About' %}">About</a>

        {% if not request.user.is_authenticated %}
            <a class="navbar-brand btn btn-warning" href="{% url 'login' %}">Login</a> 
            <a class="navbar-brand btn btn-warning" href="{% url 'register' %}">Register</a>           
        {% else %}
            <p> <strong>{{request.user.username}}</strong> </p>
        {% endif %}


         
        <a class="navbar-brand btn btn-warning" href="{% url 'logout' %}">Logout</a>            
    </div>
</nav>